<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/katalog.css">
</head>
<body>
    <div class="container">
        
    <form class="woocommerce-ordering" method="get">
        <select name="orderby" class="orderby" aria-label="Заказ в магазине">
                        <option value="popularity">По популярности</option>
                        <option value="rating">По рейтингу</option>
                        <option value="date">Сортировка от последнего</option>
                        <option value="price" selected="selected">Цены: по возрастанию</option>
                        <option value="price-desc">Цены: по убыванию</option>
                </select>
        <input type="hidden" name="paged" value="1">
    </form>
    </div><div class="container">
        <div class="d-flex">
    
            <div class="product-wrap">
                <div class="product-item">
                    <img src="dveri_list.jpg">
                    <div class="product-buttons">
                        <a href="" class="button">В корзину</a>
                    </div>
                </div>
                <div class="product-title">
                    <a href="">котенкт</a>
                    <span class="product-price">₽ 1999</span>
                </div>
            </div>
    
            <div class="product-wrap">
                <div class="product-item">
                    <img src="static/staticpics/dveri_list.jpg">
                    <div class="product-buttons">
                        <a href="" class="button">В корзину</a>
                    </div>
                </div>
                <div class="product-title">
                    <a href="">котенкт</a>
                    <span class="product-price">₽ 1999</span>
                </div>
            </div>
    
            <div class="product-wrap">
                <div class="product-item">
                    <img src="static/staticpics/dveri_list.jpg">
                    <div class="product-buttons">
                        <a href="" class="button">В корзину</a>
                    </div>
                </div>
                <div class="product-title">
                    <a href="">котенкт</a>
                    <span class="product-price">₽ 1999</span>
                </div>
            </div>
    
            <div class="product-wrap">
                <div class="product-item">
                    <img src="static/staticpics/dveri_list.jpg">
                    <div class="product-buttons">
                        <a href="" class="button">В корзину</a>
                    </div>
                </div>
                <div class="product-title">
                    <a href="">котенкт</a>
                    <span class="product-price">₽ 1999</span>
                </div>
            </div>
    
            <div class="product-wrap">
                <div class="product-item">
                    <img src="dveri_list.jpg">
                    <div class="product-buttons">
                        <a href="" class="button">В корзину</a>
                    </div>
                </div>
                <div class="product-title">
                    <a href="">котенкт</a>
                    <span class="product-price">₽ 1999</span>
                </div>
            </div>
    
            <div class="product-wrap">
                <div class="product-item">
                    <img src="dveri_list.jpg">
                    <div class="product-buttons">
                        <a href="" class="button">В корзину</a>
                    </div>
                </div>
                <div class="product-title">
                    <a href="">котенкт</a>
                    <span class="product-price">₽ 1999</span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>